

.infocard{
    display: flex;
    flex-direction: column;
    max-width: 540px;
    margin-right: auto;
    border-radius: 25px;
    padding: 7%;
    margin: 20px auto;
    background-color: #9EA3C2;
}

.logout{
    text-align: right;
    margin: 15px;
}